$mq-small: 640px !global;
$mq-medium: 960px !global;
$mq-large: 1280px !global;

$c-light: #ffffff !global;
$c-offLight: #EEF1F1 !global;
$c-dark: #0C121C !global;
$c-offDark: #4A4F54 !global;

$f-primary: 'Montserrat' !global;
$f-secondary: 'Roboto' !global;
